@if(selectedVotingEvent){
    <!-- {{selectedVotingEvent}}
    Event ID: {{selectedEventId}} -->
    <h3>{{selectedVotingEvent[0]}}</h3>
    @if (selectedVotingEvent[2]) {
        <button (click)=stopVoting()>Stop voting</button>
    }
    @else {
        <app-vote-result 
            [optionsList]=voteData.optionsList
            [votesPerOption]=voteData.votesPerOption>
        </app-vote-result>
    }
    <ol>
        @for(option of selectedVotingEvent[1]; track option[0]){
            <li>
                {{option[0]}} ➜ 🗳️ votes: {{option[1]}}
            </li>
        }
    </ol>
}